html[data-theme='dark'] {
    --ifm-background-color: #14131a;
}

html[data-theme='dark'] .theme-admonition-note {
    --ifm-alert-background-color: #006a9a;
    border-color: #00b0ff;
}

html[data-theme='dark'] table thead {
    background-color: #663e00;
    border-bottom: 4px solid darkgray;
}

html[data-theme='dark'] .theme-admonition-note svg {
    filter: brightness(0) saturate(100%) invert(71%) sepia(9%) saturate(3061%) hue-rotate(168deg) brightness(98%) contrast(106%);
}

html[data-theme='dark'] .theme-admonition-info svg {
    filter: brightness(0) saturate(100%) invert(85%) sepia(24%) saturate(875%) hue-rotate(145deg) brightness(105%) contrast(108%);
}

html[data-theme='dark'] .theme-admonition-warning svg {
    filter: brightness(0) saturate(100%) invert(68%) sepia(58%) saturate(1857%) hue-rotate(332deg) brightness(108%) contrast(101%);
}

html[data-theme='dark'] .theme-admonition-tip svg {
    filter: brightness(0) saturate(100%) invert(78%) sepia(64%) saturate(3065%) hue-rotate(43deg) brightness(115%) contrast(104%);
}

html[data-theme='dark'] .theme-admonition-danger svg {
    filter: brightness(0) saturate(100%) invert(26%) sepia(97%) saturate(7320%) hue-rotate(357deg) brightness(105%) contrast(116%);
}

.iconExternalLink_nPIU {
    max-width: 10px;
}

html[data-theme='dark'] .navbar {
  background: #191d24;
}


details.alert {
    --ifm-link-color: rgb(32, 121, 255);
    --ifm-link-hover-color: rgb(182, 182, 255);
    /* background-color: rgb(63, 129, 129); */
}

.mc-root {
    padding: 0 4px;
    border-radius: 4px;
    background: #36363688;
}




/* Global Scroll Bar */

/* Firefox */
html {
  scrollbar-width: thin; /* "auto", "thin", or "none" */
  scrollbar-color: orange #191d24; /* thumb then track */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #191d24; /* track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: orange; /* scrollbar thumb */
  border-radius: 10px;
  border: 2px solid #191d24; /* space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkorange; /* darker shade on hover */
}

::-webkit-scrollbar-corner {
  background: #191d24; /* for the corner where vertical & horizontal meet */
}