:root {
    --code-symbol: #00446c;
    --code-string: green;
    --code-comment: rgb(71, 71, 48);
    --code-function: #005d97;
    --yml-punc: #454545;
}

html[data-theme='dark'] {
    --code-symbol: rgb(90, 162, 255);
    --code-string: greenyellow;
    --code-comment: rgb(153, 153, 136);
    --code-function: lightskyblue;
    --yml-punc: darkgray;
}


.prism-code {
    box-shadow: black 0px 0px 10px;
}

span.token.class-name {
    color: rgb(0, 168, 168) !important;
}

span.token.function {
    color: var(--code-function) !important;
}

span.token.tag {
    color: #ff6fcd !important;
}

span.token.symbol,
span.token.key.atrule {
    color: var(--code-symbol) !important;
}

span.token.operator {
    color: gray !important;
}

span.token.punctuation {
    color: lightcoral !important;
}

span.token.string {
    color: var(--code-string) !important;
}

span.token.annotation {
    color: rgb(255, 115, 0) !important;
}



.prism-code.language-yml span.token.punctuation {
    color: var(--yml-punc) !important;
}