span.token.annotation {
    color: rgb(255, 115, 0) !important;
}
span.token.class-name {
    color: rgb(0, 143, 143) !important;
}
span.token.function {
    color: lightskyblue !important;
}

span.token.tag {
    color: #ff6fcd !important;
}

span.token.symbol, span.token.key.atrule {
    color: rgb(90, 162, 255) !important;
}
span.token.operator {
    color: gray !important;
}
span.token.punctuation {
    color: lightcoral !important;
}
span.token.string {
    color: greenyellow !important;
}
