html[data-theme='dark'] {
  --ifm-background-color: #14131a;
  --ifm-alert-background-color: rgb(0, 107, 156);
}

details {
    --ifm-link-color: rgb(0, 102, 255);
    --ifm-link-hover-color: blue;
    background-color: rgb(63, 129, 129);
}