html[data-theme='dark'] {
    --ifm-background-color: #14131a;
}

html[data-theme='dark'] .theme-admonition-note {
    --ifm-alert-background-color: #006a9a;
    border-color: #00b0ff;
}

html[data-theme='dark'] .theme-admonition-note svg {
    filter: brightness(0) saturate(100%) invert(34%) sepia(85%) saturate(2627%) hue-rotate(178deg) brightness(89%) contrast(101%);
}

details.alert {
    --ifm-link-color: rgb(32, 121, 255);
    --ifm-link-hover-color: rgb(182, 182, 255);
    /* background-color: rgb(63, 129, 129); */
}
