:root {
    --footer-background: lightskyblue;
    --footer-color: black;
}

[data-theme="dark"] {
    --footer-background: #0d1118;
    --footer-color: white;
}

/* Global Flex */

.footer {
    background: var(--footer-background);
    color: var(--footer-color);
    max-height: 70px;
    display: flex;
}

@media (max-width: 600px) {
  .footer-left * {
    font-size: 2vw !important;
  }
  .footer-right * {
    font-size: 2vw !important;
  }
}

.footer-left, .footer-right {
    height: inherit;
    display: flex;
    align-items: center;
    flex: 1
}

.footer-left *, .footer-right * {
    margin: 5px;
}

.footer-copyright-madeby {
    display: block;
    font-size: 90%;
    text-align: left;
}



/* Specific Flex */

.footer-left {
    justify-content: flex-start;
    margin-left: clamp(1vw, 2vw, 3vw);
}
.footer-right {
    justify-content: flex-end;
    margin-right: clamp(1vw, 2vw, 3vw);
}


/* Images */

.footer img {
    max-height: 40px;
    max-width: 40px;
}


.pagination-nav__link {
  border: 1px solid darkorange;
}